* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: FontAwesome;
	src: url("../font/fontawesome-webfontd41d.eot");
}

@font-face {
	font-family: FontAwesome;
	src: url("../font/fontawesome-webfontba72.eot");
}

@font-face {
	font-family: FontAwesome;
	src: url("../font/fontawesome-webfontba72.ttf");
}

@font-face {
	font-family: FontAwesome;
	src: url("../font/fontawesome-webfontba72.woff");
}

body {
	font-family: Arial, Helvetica, san-serif, tahoma. fantasy;
	background-attachment: fixed;
	background-size: cover;
}

.clear {
	clear: both;
	line-height: 0;
}

header {
	display: block;
	position: fixed;
	width: 100%;
	right: 0;
	top: 0;
	margin-bottom: 5px;
	z-index: 100;
}

/*---------------------------------------*/
/*---------------Navigation---------------*/
/*---------------------------------------*/

div.nav_toggle {
	padding: 20px;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 200;
	display: none;
}

div.nav_toggle:before {
	content: '\f039';
	font-family: FontAwesome;
	text-align: center;
	font-weight: bold;
	height: 40px;
	color: #bd2222;
	cursor: pointer;
}

div.main_nav {
	padding: 5px 25px;
	height: 60px;
	display: block;
	min-height: 35px;
	background-color: whitesmoke;
	position: sticky;
}

div.main_nav h2 {
	float: left;
	margin-left: 30px;
	font-family: lucida handwriting;
	color: #bd2222;
	font-weight: 300;
	font-size: 30px;
}
button{
	padding: 3px;
}
.main_nav ul {
	padding: 0;
	list-style-type: none;
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	font-size: 16px;
}

.main_nav ul li {
	float: left;
	margin-left: 20px;
	height: 20px;
	width: auto;
}

div.main_nav ul li a {
	text-decoration: none;
	font-family: lucida handwriting;
	color: #bd2222;

}

div.responsive_nav {
	background-color: whitesmoke;
	max-width: 250px;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	margin-left: -250px;
	height: 100%;
	z-index: 100;
	transition: margin 200ms ease-in;
}

div.nav_section_div {
	height: 120px;
}

div.nav_section_div h3 {
	color: #bd2222;
	font-family: lucida handwriting;
	text-align: center;
	line-height: 110px;
}

div.nav_section {
	height: auto;
	display: block;
	padding: 20px;
	height: 100%;
}

div.nav_section ul {
	list-style-type: none;
}

div.nav_section ul li {
	display: block;
	height: 40px;
	line-height: 40px;
}

div.nav_section ul li a {
	text-decoration: none;
	font-family: lucida handwriting;
	color: #bd2222;
}

.close-nav{
	float: left;
	font-size: 21px;
	font-weight: 700;
	line-height: 5;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}

div.responsive_nav.nav_open {
	margin-left: 0;
	box-shadow: 1px 1px 1px #444;
}


/*---------------------------------------*/
/*----------------Parallax----------------*/
/*---------------------------------------*/

div.parallax {
	background-image: url("../image/images_2.jpg");
	background-attachment: fixed;
	height: 1000px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

div.parallax_head {
	background: #000;
	opacity: 0.75;
	color: #fff;
	text-align: center;
	height: 1000px;
	padding: 10px;
}

div.parallax_head h2 {
	margin-top: 400px;
	font-family: lucida handwriting;
	text-transform: capitalize;
	font-size: 35px;

}

div.parallax_head h3 {
		margin-top: 10px;
	font-size: 40px;
	font-family: sans-serif;
	font-weight: 200;
}

/*---------------------------------------*/
/*-------------Card Container-------------*/
/*---------------------------------------*/
div.card_section{
	background-color: #ced6e0;
	height: 500px;
	display: flex;
	justify-content: center;
}

.center{
	text-align: center;
}

div.containers {
	margin: 30px 15px 15px 15px;
	width: 550px;
	height: 410px;
	border: 3px solid black;
	display: inline-grid;
}

div.card_container {
	margin: 25px 10px 0px 10px;
	width: 400px;
	height: 420px;
	padding: 1px 10px 1px 10px;
	border: 2px solid #57606f;
	border-radius: 15px;
	display: inline-grid;
	background-color: #ff6348;
}

.card_image img{
		margin-top: 10px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px 10px 1px 1px;
}

.buttons-Menu {
	position: relative;
	margin: 10px 0px 0px 0px;
	height: 100px;
	text-decoration: none;
	background-color:	#ff4757;
	border-radius: 0px 0px 10px 10px;
}

.card_container a{
	padding-top: 30px;
	text-align: center;
	color: whitesmoke;
	font-size: 30px;
}

/*---------------------------------------*/
/*-------------Book Container-------------*/
/*---------------------------------------*/
.above{
	margin-top: 5px;
	margin-bottom: 0;
	color: orange;
	font-size: 3rem;
	text-shadow: 2px 2px black;
	weight: 300;
}

.wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.book_container {
	margin: 25px 30px 10px 30px;
	border: 2px solid black;
	transform:  translate (-50%,-50%);
}

.book {
	width: 550px;
	height: 375px;
	transform-style: preserve-3d;
	transform: perspective(2000px);
}

.book:hover {
	z-index: 1;
	transform: perspective(2000px);
	box-shadow: inset 10px 0 50px white;
}

.book .cover {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transform-origin: left;
	z-index: 1;
	transition: 0.75s;
}

.book:hover .cover{
	transform: rotateY(-110deg);
}

.book .cover img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.book .details{
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 25px;
	background-color: whitesmoke;
	width: 100%;
	height: 100%;
}

.details p,h3, h2{
	padding: 10px;
}


/*---------------------------------------*/
/*---------------Responsive---------------*/
/*---------------------------------------*/
@media only screen and (max-width: 768px) {
	div.card_container {
		margin: 5px 10px 0px 10px;
		width: 400px;
		height: 350px;
	}

	.buttons-Menu {
		height: 50px;
	}

	.card_container a{
		padding-top: 5px;
		font-size: 28px;
	}

	/*-----------------------*/
	/*-------Navigation-------*/
	/*-----------------------*/
	div.main_nav h2 {
		font-weight: bold;
		margin-top: 15px;
	}

	div.nav_toggle {
		display: block;
		top: -10px;
	}

	div.main_nav {
		width: 100%;
	}

	div.nav_toggle {
		display: block;
		margin-top: 1.5%;
	}

	div.main_nav ul {
		display: none;
	}

	div.main_nav h2 {
		font-size: 20px;
	}

	div.multicol {
		column-count: 2;
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-rule: 1px solid #efefef;
		-moz-column-rule: 1px solid #efefef;
		-webkit-column-rule: 1px solid #efefef;
	}

	div.parallax{
		height: 800px;
	}

	div.parallax_head{
		height: 800px;
	}

	div.parallax_head h2 {
		font-size: 4rem;
		margin-top: 45%;
	}

	div.parallax_head h3 {
		font-size: 2.5rem;
		font-family: Verdana;
	}

	/*-----------------------*/
	/*------book container-----*/
	/*-----------------------*/
	.book_container {
		margin: 15px 15px 5px 15px;
	}

	.book{
		width: 450px;
		height: 270px;
	}

	.details p,h3, h2 {
		margin:0;
		padding: 0;
	}
	.details p{
		font-size: 12px;
	}


}

@media screen and (max-width: 425px) {
	div.card_container {
		margin: 5px 10px 0px 5px;
		width: 285px;
		height: 320px;
	}

	.buttons-Menu {
		height: 100px;

	}

	.card_container a{
		padding-top: 15px;
		font-size: 28px;
	}
	/*-----------------------*/
	/*-------Navigation-------*/
	/*-----------------------*/
	div.main_nav h2 {
		font-weight: bold;
		margin-top: 15px;
	}

	div.nav_toggle {
		display: block;
		margin-top: 10px;
	}

	/*-----------------------*/
	/*--------parallax--------*/
	/*-----------------------*/
	div.parallax{
		height: 523px;
	}

	div.parallax_head{
		height: 523px;
	}

	div.parallax_head h2 {
		font-size: 3rem;
		margin-top: 85%;
	}

	div.parallax_head h3 {
		font-size: 2.5rem;
		font-family: Verdana;
	}

	/*-----------------------*/
	/*------book container-----*/
	/*-----------------------*/
	.book_container {
		margin: 15px 5px 5px 5px;
	}

	.book{
		width: 250px;
		height: 270px;
	}

	.details p,h3, h2 {
		margin:0;
		padding: 0;
	}
	.details p{
		font-size: 12px;
	}
	.details h3{
		font-size: 18px;
	}
	.details h2{
		font-size: 22px;
	}

}

@media only screen and (max-width: 500px) {
	div.card_container{
		display: none;
	}
	/*-----------------------*/
	/*-------Navigation-------*/
	/*-----------------------*/
	div.main_nav h2 {
		font-weight: bold;
		margin-top: 15px;
	}

	div.nav_toggle {
		display: block;
		margin-top: 10px;
	}
	/*-----------------------*/
	/*--------parallax--------*/
	/*-----------------------*/
	div.parallax{
		height: 800px;
	}

	div.parallax_head{
		height: 800px;
	}

	div.parallax_head h2 {
		font-size: 3rem;
		margin-top: 65%;
	}

	div.parallax_head h3 {
		font-size: 2.5rem;
		font-family: Verdana;
	}

	/*-----------------------*/
	/*------book container-----*/
	/*-----------------------*/
	.book_container {
		margin: 20px 30px 10px 30px;
	}

	.book{
		width: 350px;
		height: 270px;
	}

	.details p,h3, h2 {
		margin:0;
		padding: 0;
	}
	.details p{
		font-size: 12px;
	}

}

@media only screen and (max-width: 384px) {
	div.card_container{
		display: none;
	}

	/*-----------------------*/
	/*-------Navigation-------*/
	/*-----------------------*/
	div.main_nav h2 {
		font-weight: bold;
		margin-top: 15px;
	}

	div.nav_toggle {
		display: block;
		margin-top: 10px;
	}

	/*-----------------------*/
	/*--------parallax--------*/
	/*-----------------------*/
	div.parallax{
		height: 840px;
	}

	div.parallax_head{
		height: 840px;
	}

	div.parallax_head h2 {
		font-size: 3rem;
		margin-top: 50%;
	}

	div.parallax_head h3 {
		font-size: 2.5rem;
		font-family: Verdana;
	}

	/*-----------------------*/
	/*------book container-----*/
	/*-----------------------*/

	.book_container {
		margin: 20px 50px 10px 50px;
	}

	.book{
		width: 295px;
		height: 270px;
	}

	.details p,h3, h2 {
		margin:0;
		padding: 0;
	}

	.details p{
		font-size: 12px;
	}
}


.padding-top{
	padding-top: 40px;
}
.padding-bottom{
	padding-bottom: 40px;
}
